@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:wght@400;500&family=Roboto:wght@300;700&display=swap');

:root {
    --main-color: #1E6091;
    --secondary-color: #76C893;
    --third-color: #52B69A;
    --main-font: 'Roboto', sans-serif;
    --main-font-clr: #D9ED92
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(170deg, var(--secondary-color) 30%, var(--main-color) 10%);;
    min-height: 100vh;
    max-width: 100vw;
    font-family: var(--main-font);
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.portrait {
    /* width: 100%;
    height: 100%; */
    height: 500px;
    width: 350px;
    border-radius: 5px;
    object-fit: cover;
}

.description-container {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    width: 350px;
}

.about-description {
    /* border: 2px solid white; */
    color: var(--main-font-clr);
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 20px;
    align-self: center;
}

.description {
    color: var(--main-font-clr);
    font-family: var(--main-font);
    font-size: 1.4rem;
    font-weight: 500;
}

.icons {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px
}

.github-icon,
.linkedin-icon {
    font-size: 3rem;
    fill: white;
}



.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    gap: 100px;
    padding: 100px 0;
}



.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    min-height: 350px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
}

.app-screenshot {
    height: 55%;
    max-width: 100%;
    object-fit:cover;
}

.project.three > .app-screenshot {
    object-fit: fill;
}

.project-description {
    padding: 10px;
    height: 45%;
    background-color: var(--secondary-color);
}

.project-header {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    margin-left: 20px;
}

.project.five > .simple-description {
    padding-bottom: 100px;
}

.icons-container {
    display: flex;
    justify-self: flex-end;
}

.simple-description {
    display: block;
    padding-bottom: 60px;
    font-weight: 400;
}

.footer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    align-items: flex-start;
    padding: 10px;
    /* border: 1px solid white; */
}

.contact-info-container > * {
    padding: 10px 20px;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-info > p {
    margin-left: 10px;
}

.contact-foto-container {
    height: 50%;
    margin: 1px solid white;
}

.contact-info-picture {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media (min-width: 1000px) {

    .about-me {
        /* border: 1px solid black; */
        flex-direction: row;
        justify-content: center;
        max-width: 100vw;
        padding: 50px 30px;
    }

    .portrait-container {
        border: 1px solid black;
    }

    .description-container {
        /* border: 1px solid black; */
        background-color: var(--third-color);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        border-radius: 0 10px 10px 0;
        width: 60vw;
        padding: 10px 30px;
    }

    .footer {
        flex-direction: row;
    }

    .contact-info-container {
        /* border: 1px solid white; */
        width: 50%;
    }

    .contact-info-picture {

        height: 500px;
        /* width: 500px */
    }

    .contact-foto-container {
        width: 50%;
        display: flex;
        justify-content: center;
        /* border: 1px solid white; */
    }
}